 <div class = 'modal file-modal'>
        <form class = 'file-form' action="/file-upload" method="post" enctype="multipart/form-data">
            <div class="header">
                <h1>New File</h1>
                <button type = 'button' class = 'close-form close-file-form'>x</button>
            </div>
        <input type="file" name="file" />
        <button type = 'submit'>Upload</button>
            </form>
        </div>