 <div class="files-container">
            <% locals.files.forEach((file) => {%>
                <a href ="/file/<%= file.id %>">
                    <button class = 'file-container'>
                        <p><%=file.originalname%></p>
                    </button>
                </a>
            <% }) %>
        </div>