 <div class="files-container">
    <h1><%= folder.name %></h1>
            <% locals.files.forEach((file) => {%>
                <a class = 'file-container' href ="/file/<%= file.id %>">
                        <p><%=file.originalname%></p>
                         <form action="/file/<%= file.id %>/delete" method = 'POST'>
                            <button class = 'trash-btn'  type = 'submit'><img src="/assets/trash.svg" alt=""></button>
                        </form>
                </a>
            <% }) %>
        </div>