 <div class = 'modal new-folder-modal'>
        <form class = 'new-folder-form form' action="/folder/<%= folder.id %>/new-folder" method="POST" >
            <div class="header">
                <h1>New Folder</h1>
                <button type = 'button' class = 'close-form close-folder-form'>x</button>
            </div>
        <label for="name">Name:</label>
        <input type="text" name = "name" id="name">
        <button class = 'primary-btn' type = 'submit'>Create</button>
            </form>
        </div>