 <div class = 'modal new-folder-modal'>
        <form class = 'new-folder-form' action="/new-folder" method="post" enctype="multipart/form-data">
            <div class="header">
                <h1>New Folder</h1>
                <button type = 'button' class = 'close-form close-folder-form'>x</button>
            </div>
        <label for="name">Name:</label>
        <input type="text" name = "name" id="name">
        <button type = 'submit'>Create</button>
            </form>
        </div>