 <div class="sidebar">
            <div class="button-container">
                <button class = 'open-file-upload primary-btn'>
                    Upload File
                </button>
                <button class = 'open-new-folder primary-btn'>
                    New Folder
                </button>
            </div>
            <div class="folders">
                <div class="folder-header">
                    <h2>Folders</h2>
                    <img src="/assets/dropdown-svgrepo-com.svg" alt="expand folders" class = "expand hidden">
                    <img src="/assets/collapse.svg" alt="collapse folders" class = "collapse">
                </div>
                <ul class = 'folder-list '>
                    <% locals.folders.forEach((f) => {%>
                        <li>
                            <a href = '/folder/<%= f.id%>'><%= f.name %></a>
                            <div class="folder-btn-container">
                                <button class = 'edit-btn' id = '<%= f.id %>'><img src="/assets/edit.svg" alt="edit"></button>
                                    
                                        <button id = '<%= f.id %>' class = 'trash-btn delete-modal-btn' type = 'submit'>
                                            <img src="/assets/trash.svg" alt="delete">
                                        </button>
                                    
                             
                            </div>

                        </li>
                    <%})%>
                </ul>
            </div>
        </div>