 <div class="sidebar">
            <button class = 'open-file-upload'>
                Upload File
            </button>
            <button class = 'open-new-folder'>
                New Folder
            </button>
            <div class="folders">
                <ul>
                    <% locals.folders.forEach((folder) => {%>
                        <li>Hi</li>
                    <%})%>
                </ul>
            </div>
        </div>