 <div class="sidebar">
            <button class = 'open-file-upload'>
                Upload File
            </button>
            <button class = 'open-new-folder'>
                New Folder
            </button>
        </div>