<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/nav')%>
 
    <%- include('partials/sidebar')%>
    <%- include('partials/file-container')%>
        
    <form class = 'file-form hidden' action="/file-upload" method="post" enctype="multipart/form-data">
        <div class="header">
            <h1>New File</h1>
            <button type = 'button' class = 'close-file-form'>x</button>
        </div>
    <input type="file" name="file" />
    <button type = 'submit'>Upload</button>
        </form>
</body>
</html>