<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
<body>
    <%- include('partials/form_errors')%>
    <form action="/signup" method="POST">
        <label for="username">Username</label>
        <input type="text" name = "username" id="username">
        <label for="password">Password</label>
        <input type="password" name = "password" id="password">
         <label for="password_confirm">Confirm Password:</label>
        <input type="password" id = "password_confirm" name = "password_confirm">
        <button type = "submit">Submit</button>
    </form>
    
</body>
</html>