body{
  position: relative;
  height: 100vh;
  background:  var(--main);
  color: white;
}
:root{
  --accent: rgb(97, 229, 255);
  --main: rgb(46, 46, 46);
}

/* log in and sign up*/
.form{

    width: 300px;
    border: 3px solid white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;  
    
}
.form input{
  height: 20px;
  padding: 5px;
  width: 80%;
  border-radius: 7px;
}

.form button{
    
    margin: 10px auto;
  
}
/* nav */
nav a {
  float: left;
  font-size: 16px;
 
}

nav a, button{
   color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid gray;
  background: var(--main);
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
}

nav a:hover, button:hover{
  background: rgba(97, 229, 255, 0.5);
  border: 1px solid var(--accent);
  color: var(--accent);
}
nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}
nav{
  padding-left: 20px;
  padding-right: 20px;
}

/* file form */
.hidden{
  display: none;
}

.file-form{
  background: gray;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 10px;
}
.file-form .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-form button{
  display: block;
}
.file-form input{
  margin-bottom: 10px;
}
/* validation errors */
.errors-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.errors-list li{
  border: 1px solid rgb(255, 86, 86);
  background: rgba(255, 86, 86, 0.3);
color: rgb(255, 86, 86);
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: min(500px, 80vw);
  margin-bottom: 10px;
}