body{
  position: relative;
  height: 100vh;
}

/* log in and sign up*/
.form{

    width: 300px;
    border: 3px solid white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;  
    
}
.form input{
  height: 20px;
  padding: 5px;
  width: 80%;
  border-radius: 7px;
}

.form button{
    border: 0;
    background: rgb(157, 216, 164);
    border-radius: 5px;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
}
/* nav */
nav a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}

/* file form */
.hidden{
  display: none;
}

.file-form{
  background: gray;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  padding: 10px;
}
.file-form .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-form button{
  display: block;
}
.file-form input{
  margin-bottom: 10px;
}