body{
  position: relative;
  height: 100vh;
  background:  var(--main);
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 5fr;
  padding: 0;
  margin: 0;
}
:root{
  --accent: rgb(97, 229, 255);
  --main: rgb(28, 28, 28);
  --border: rgb(174, 174, 174);
  --background: rgb(129, 129, 129, 0.1);
}

/* log in and sign up*/

.center{
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}
form{

    width: 300px;
    border: 1px solid var(--border);
    padding: 20px;
   
    border-radius: 20px;  
   
    
}
.form input{
  height: 20px;
  padding: 5px;
  width: 80%;
  border-radius: 7px;
}

.form button{
    
    margin: 10px auto;
  
}
/* nav */
nav{
  grid-column: 1 / 3;
  grid-row: 1/2;
  border: 1px solid var(--border)
}
nav a {
  float: left;
  font-size: 16px;
 
}

nav a, button{
   color: var(--border);
  text-align: center;
  text-decoration: none;
  border: 1px solid var(--border);
  background: var(--background);
  padding: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
}

nav a:hover, button:hover{
  background: rgba(97, 229, 255, 0.5);
  border: 1px solid var(--accent);
  color: var(--accent);
}
nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 15px;
    list-style-type: none;
}
nav{
  padding-left: 20px;
  padding-right: 20px;
}

/* index page*/


/* side bar */
.sidebar{
  padding: 20px;
  grid-column: 1/2;
  grid-row: 2/3;
  border: 1px solid var(--border)


}
.files-container{
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.file-container{
  border-radius: 10px;
  border: 1px solid var(--border);
  background: rgb(129, 129, 129, 0.1);
  
  padding: 5px;
  font-size: 1.2rem;
}
.main-content > div {
  border: 1px solid var(--border)
}

/* file form */
.hidden{
  display: none;
}




.file-form .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-form button{
  display: block;
}
.file-form input{
  margin-bottom: 10px;
}
/* validation errors */
.errors-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
.errors-list li{
  border: 1px solid rgb(255, 86, 86);
  background: rgba(255, 86, 86, 0.3);
color: rgb(255, 86, 86);
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: min(500px, 80vw);
  margin-bottom: 10px;
}
/* file details */
.file-details{
  background: var(--background);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 20px;
}
.back-link{
  color: white;
  text-decoration: none;
  margin: 20px;
}
/* modal */
.modal{
     
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%; 
      height: 100%; 
      background-color: rgba(0,0,0,0.5); /* overlay */
      justify-content: center;
      align-items: center;
    
}