.form{

    width: 300px;
    border: 3px solid white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
     
    
}
.form input{
  height: 20px;
  padding: 5px;
  width: 80%;
  border-radius: 7px;
}

.form button{
    border: 0;
    background: rgb(157, 216, 164);
    border-radius: 5px;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1.2rem;
}